POSTGRES_USER="your_user_here"
POSTGRES_PASSWORD="your_password_here"
POSTGRES_SERVER="your_server_here"
POSTGRES_DB="your_database_here"

DEBUG="False"

SECRET_KEY="your-secret-key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="15"

POOL_SIZE="5"
MAX_OVERFLOW="10"